{% extends  'base.html' %}

{% block title %}
    Admin
{% endblock %}

{% block header %}
    This is Admin page
{% endblock %}

{% block content %}
    <div>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>
                {{ order.order_date}}
            </td>
            <td>
                {{ order.user.phone }}
            </td>
            <td>
                {{ order.address }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}