{% extends 'base.html' %}

{% block scripts%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock%}

{% block title %}
    Login in
{% endblock %}

{% block header%}
    Login in
{% endblock %}

{% block content %}
    <form>
        <input type="text" name="phone" id="phone" required="required" placeholder="Phone"> <br/>
        <input type="password" name="password" id="password" required="required" placeholder="Password"> <br/>
        <button type="submit">Submit</button>
    </form>
{% endblock %}